@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.active {
  color: #feb633 !important;
  position: relative !important;
}

.active::after {
  content: "" !important;
  position: absolute !important;
  border-bottom: 2px solid #feb633 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 30% !important;
}

.navbar {
  background: #2b2c2c;
}

.navbar__center {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__center__brand {
  font-size: 3rem;
  color: #fbd214;
  font-weight: 700;
}

.navbar__center__toggler {
  color: #cccccc;
  font-size: 1.5rem;
}

.navbar__center__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__center__nav li {
  list-style-type: none;
  margin-left: 2rem;
}

.navbar__center__nav__link {
  text-decoration: none;
  display: inline-block;
  color: #cccccc;
  padding-bottom: .2rem;
  font-size: .9rem;
  font-weight: 500;
  position: relative;
}

.navbar__center__nav__link:hover {
  color: #feb633;
}

.navbar__center__nav__link::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #feb633;
  bottom: 0;
  left: 0;
  right: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar__center__nav__link:hover::after {
  right: 30%;
}

@media (min-width: 768px) {
  .navbar__center__toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar__center__nav {
    display: none;
  }
}

@media (max-width: 900px) {
  .center {
    padding-left: 1rem;
    padding-right: 1em;
  }
}

.hero {
  background-color: #2b2c2c;
  padding-top: 3rem;
  padding-bottom: 0;
}

.hero__center {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.hero__center__info__title {
  color: white;
  font-size: 4.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.hero__center__info__descri {
  color: #cccccc;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.hero__center__info__btn {
  background-color: #feb633;
  border-radius: 5px;
  color: white;
  padding: 1.1rem 4rem;
  font-weight: 500;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.hero__center__info__btn:hover {
  background-color: transparent;
  color: #feb633;
  border: 2px solid #feb633;
}

.hero__center__container {
  padding-top: 4rem;
}

.hero__center__container__img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero__center__info__title {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .hero__center__info__descri {
    font-size: 1.3rem;
  }
}

.about {
  background: #303131;
}

.about__center {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__center__header__title {
  color: #cccccc;
  font-size: 3rem;
  padding-bottom: .5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__center__header__underline {
  height: 5px;
  width: 100px;
  background-color: #fbd214;
}

.about__center__desc {
  padding-top: 2rem;
  width: 45%;
}

.about__center__desc__text {
  padding-bottom: 1.5rem;
}

.about__center__desc__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.about__center__desc__btns__btn1 {
  background-color: #feb633;
  border-radius: 5px;
  color: white;
  padding: 1.1rem 4rem;
  font-weight: 500;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  padding-right: 2rem;
  padding-left: 2rem;
  letter-spacing: 0;
  margin-right: 2rem;
}

.about__center__desc__btns__btn1:hover {
  background-color: transparent;
  color: #feb633;
  border: 2px solid #feb633;
}

.about__center__desc__btns__btn2 {
  background-color: #feb633;
  border-radius: 5px;
  color: white;
  padding: 1.1rem 4rem;
  font-weight: 500;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  padding-right: 2rem;
  padding-left: 2rem;
  letter-spacing: 0;
  background-color: transparent;
  color: #feb633;
  border: 2px solid #feb633;
}

.about__center__desc__btns__btn2:hover {
  background-color: transparent;
  color: #feb633;
  border: 2px solid #feb633;
}

.about__center__desc__btns__btn2:hover {
  background-color: #feb633;
  color: white;
}

@media (max-width: 768px) {
  .about__center__desc {
    width: 100%;
  }
  .about__center__header {
    margin-left: auto;
    margin-right: auto;
  }
  .about__center__header__underline {
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .about__center__desc__btns__btn1,
  .about__center__desc__btns__btn2 {
    padding: .6rem 1.3rem;
    font-size: .9rem;
  }
}

.article1 {
  background: -webkit-gradient(linear, left top, right top, from(#39dbfd), to(#3799fb));
  background: linear-gradient(90deg, #39dbfd 0%, #3799fb 100%);
}

.article2 {
  background: -webkit-gradient(linear, left top, right top, from(#fccb36), to(#fcaf3c));
  background: linear-gradient(90deg, #fccb36 0%, #fcaf3c 100%);
}

.article3 {
  background: -webkit-gradient(linear, left top, right top, from(#e246c1), to(#ad42ec));
  background: linear-gradient(90deg, #e246c1 0%, #ad42ec 100%);
}

.article4 {
  background: -webkit-gradient(linear, left top, right top, from(#1ec97b), to(#05c414));
  background: linear-gradient(90deg, #1ec97b 0%, #05c414 100%);
}

.services {
  background: #2b2c2c;
}

.services__center {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.services__center__header {
  text-align: center;
}

.services__center__header__title {
  color: #cccccc;
  font-size: 3rem;
  padding-bottom: .5rem;
}

.services__center__header__underline {
  height: 5px;
  width: 100px;
  background-color: #fbd214;
  margin-left: auto;
  margin-right: auto;
}

.services__center__header__info {
  margin: 2.2rem;
}

.services__center__articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.services__center__articles__item {
  position: relative;
  color: white;
}

.services__center__articles__item__container {
  border-radius: 10px;
}

.services__center__articles__item__container__img {
  display: block;
  width: 100%;
  opacity: .2;
  border-radius: 10px;
  height: 310px;
}

.services__center__articles__item__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 3.5rem 3rem;
}

.services__center__articles__item__info__icon {
  font-size: 3rem;
}

.services__center__articles__item__info__title {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: .1;
}

@media (max-width: 768px) {
  .services__center__articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .services__center__header__title {
    font-size: 1.5rem;
  }
  .services__center {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #9f9f9f;
}
/*# sourceMappingURL=style.css.map */