@import "./variables";
@import "./utilities";


.hero {
    background-color: $primary-bg;
    padding-top: 3rem;
    padding-bottom: 0;

    &__center {
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;

        &__info {
            &__title {
                color: white;
                font-size: 4.2rem;
                font-weight: 600;
                letter-spacing: .1rem;
            }

            &__descri {
                color: $title-color;
                font-size: 1.5rem;
                margin-bottom: 4rem;
            }

            &__btn {
                 @include btn;
            }
        }

        &__container {
            padding-top: 4rem;

            &__img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width:$layout-breakpoint-small) {
    .hero__center__info__title{
font-size: 3rem;
padding-bottom: 2rem;
padding-top: 2rem;
    }
    .hero__center__info__descri{
          font-size: 1.3rem;
    }
}