@import "./variables";
@import "./utilities";

.active-link {
    color: $secondary-color !important;
    position: relative !important;

    &::after {
        content: "" !important;
        position: absolute !important;
        border-bottom: 2px solid $secondary-color !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0% !important;

    }
}

.portfolio{
    background: $secondary-bg;
    &__center {
        @include center;
         padding-left: 1.5rem;
         padding-right: 1.5rem;

        &__header {
            text-align: center;

            &__title {
                @include title;
                 font-size: 2rem;
            }

            &__underline {
                @include line;
                margin-left: auto;
                margin-right: auto;

            }

            &__info {
                margin: 2.2rem;

            }
        }
        &__links{
            display: flex;
            justify-content: center;
             li {
                 list-style-type: none;
                 margin-left: 1rem;
             }
             &__item{
                 text-decoration: none;
                 display: inline-block;
                 color: $title-color;
                 padding-bottom: .2rem;
                 font-size: .7rem;
                 font-weight: 500;
                 position: relative;
                 transition: all .5s;

                 &:hover {
                     color: $secondary-color;
                 }
        }
    }

    &__projects{
        padding-top:3rem;
        padding-bottom:3rem;
        display: grid;
        grid-gap: 2rem;
        &__item{
            top: 0;
            left: 0;
            position: relative;
           
            transition: all 1s;
            overflow-y: hidden;
            &__container{
             display: block;
              
                &__img{
                    width: 100%;
                   height: 400px;
                    object-fit: cover;
                    display: block;
                }
            }
            &__info{
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(251,210,20, 0.9);
                width: 100%;
                height: 100%;
                 color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                 display: none;
                transition: all .6s;
                overflow: hide;
              
                &__icon{
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }
                &__title{
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                }
            }
             
        }
    }
 }
}

.portfolio__center__projects__item:hover .portfolio__center__projects__item__info {
   display: flex;
      

}
@media screen and (min-width:650px){

    .portfolio__center__links__item{
        font-size: 1rem;
         margin-left: 2rem;
    }
    .portfolio__center__projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:900px) {
    .portfolio__center__projects__item__container__img{
        max-height: 100%
    }

    .portfolio__center__projects__item:nth-child(1) {
        grid-area: hd;
    }

    .portfolio__center__projects__item:nth-child(2) {
        grid-area: lef1;
    }
    .portfolio__center__projects__item:nth-child(3) {
        grid-area: lef2;
    }
    .portfolio__center__projects__item:nth-child(4) {
        grid-area: lef3;
    }
    .portfolio__center__projects__item:nth-child(5) {
        grid-area: lef4;
    }
    .portfolio__center__projects__item:nth-child(6) {
        grid-area: ft1;
    }
    .portfolio__center__projects__item:nth-child(7) {
        grid-area: ft2;
    }
    .portfolio__center__projects__item:nth-child(8) {
        grid-area: ft3;
    }
    .portfolio__center__projects__item:nth-child(9) {
        grid-area: ft4;
    }

    .portfolio__center__projects {
       grid-template-columns: repeat(4,1fr);
          grid-template-rows: repeat(3, 1fr);
       grid-template-areas: 
       "hd hd lef1 lef2"
       "hd hd lef3 lef4"
       "ft1 ft2 ft3 ft3"
       ;
    }
}