$primary-color: #fbd214;
$secondary-color:#feb633;
$ff-font:'Poppins', sans-serif;
$primary-bg:#2b2c2c;
$secondary-bg:#303131;
$navbar-bg:#252525;
$title-color:#cccccc;
$text-color:#9f9f9f;
$layout-breakpoint-small:768px;
